.settings
target
.project
.classpath
bin
build.xml
.DS_Store
m2e-wtp
*.box
.vagrant

# Created by http://www.gitignore.io

### Packer ###
# Cache objects
packer_cache/

# For built boxes
*.box

output-virtualbox-iso
